.header {
	display: flex;
	position: relative;
	justify-content: flex-start;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 10px solid var.$blue;
	background: var.$white;
	font-family: $font_main;

	.logo {
		display: block;
		width: 200px;
		height: 100%;
		margin-right: auto;

		img,
		svg {
			display: flex;
			max-width: 100%;
			margin-right: 20px;
			margin-left: 20px;
		}
	}

	nav {
		position: relative;
		z-index: 50;
		align-content: center;

		font-size: 1.4em;
		font-weight: 600;
		text-align: center;

		button {
			margin-right: 20px;
			text-transform: capitalize;
		}

		&.open {
			ul {
				display: block;
			}
		}

		ul {
			display: none;
			position: absolute;
			z-index: 150;
			top: 100%;
			right: 0;
			width: 50vw;
			max-width: 400px;
			max-height: calc(100vh - 150px);
			overflow-y: auto;
			border-radius: 12px;
			background: var.$white;
			box-shadow: 0 1px 3px rgba(var.$neutral, 0.15),
				0 0 8px rgba(var.$neutral, 0.1);
		}

		a {
			padding: 0.6em;

			.label {
				position: static;
				margin-left: 1ch;
			}
		}

		li {
			margin-left: 10px;
			text-decoration:none;

			&.current_page_item {
				font-weight: 700;
				text-decoration:none;
			}

			&.cta{
				margin:0;
				border:none;
				background-color:var.$blue;
				color: var.$white;
			}
		}
	}
}

.hamburger {
	align-items: center;
	width: 97px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: 2px solid;
	border-radius: 3px;
	border-color: var.$black;
	background: none;
	color: var.$grey_dark;

	svg {
		width: auto;
		height: 12px;
		margin-right: 6px;
		color: var.$white;
	}

	ul{
		width: 50vw;
	}

	&:hover {
		background-color: var.$red;
		color: var.$white;
	}
}

@media (min-width: 50em) {
	.header {
		color: var.$grey_dark;

		.logo {
			flex-shrink: 1;
			width: auto;
			height: 50px;
			margin: 0;
			margin-left: 50px;
		}

		nav {
			flex-grow: 1;
			flex-shrink: 0;
			font-size: 0.8em;
			font-weight: 500;

			&.open {
				ul {
					display: flex;
				}
			}

			ul {
				display: flex;
				position: static;
				flex-shrink: 0;
				align-items: flex-start;
				width: auto;
				max-width: unset;
				margin-right: 0;
				overflow: visible;
				background: transparent;
				box-shadow: none;
			}

			a {
				padding: 0.5em;
				text-decoration: none;

				.label {
					position: absolute;
				}
			}

			li {
				margin-left: 10px;
				border-bottom: 2px solid transparent;

				&:hover {
					text-decoration: underline;
				}

				&.current_page_item {
					border-color: var.$red;
					background: transparent;

					text-decoration: none;
				}

				&.cta {
					width: 170px;
					margin-right: 40px;
					margin-left: auto;
					padding: 0;
					padding-right: calc(1em + 20px);

					border: 2px solid;
					border-radius: 3px;
					border-color: var.$black;
					background-color: rgb(255, 255, 255);
					background-image: url('./src/img/edit_black.png');
					background-repeat: no-repeat;
					background-position: calc(100% - 10px) center;
					background-size: 1em auto;
					color: var.$grey_dark;
					text-align: left;
					text-decoration: none;

					&:hover {
						background-color: var.$blue;
						background-image: url('./src/img/edit_white.png');
						background-position: calc(100% - 10px) center;
						color: var.$white;
					}
				}
			}
		}
	}

	.hamburger {
		display: none;
	}
}

@media (min-width: 60em) {
	.header {
		width: 100vw;

		nav {
			font-size: 0.9em;
		}
	}
}

@media (min-width: 70em) {
	.header {
		nav {
			font-size: 1em;
		}
	}
}

$max_width: 1200px * (10/9);

@media (min-width: 80em) {
	.header {
		nav {
			font-size: 1.2em;
		}
	}
}
