.footer {
	position: relative;
	padding: 30px;
	background-color: #f3f6fa;

	h2 {
		margin-top: 40px;
		color: var.$colours_grey_dark;
		font-size: 0.875em;
		font-weight: 700;
		text-align: left;
	}

	// address {
	// 	margin: 10px 0;
	// 	font-weight: 400;
	// }
}

.owner {
	margin: 0;
}

.nav {
	margin: 20px 0;

	ul {
		margin: -10px;
	}

	li {
		margin: 10px;
	}

	a {
		color: var.$colours_black;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&.icons {
		margin-top: 10px;
		font-size: 1.5em;

		ul {
			display: flex;
		}

		a {
			display: block;
			line-height: 1;

			&:hover {
				color: var.$colours_red;
			}

			span {
				@include mixins.sr_only;
			}
		}
	}

	&.legal {
		margin-top: 5px;

		ul {
			display: flex;
			flex-wrap: wrap;
		}

		li {
			position: relative;
			width: auto;

			&:not(:last-child) {
				padding-right: 2ch;

				&:after {
					content: '/';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
}

.site_name {
	margin-left: 1ch;
	color: var.$colours_neutral;
	font-family: var.$fonts_headings;
	font-weight: 600;
	text-decoration: none;
}

.logo {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	font-weight: 700;
	text-decoration: none;

	svg {
		align-content: center;
		width: auto;
		height: 40px;
	}

	&:hover {
		outline: 3px solid var.$colours_red;

		* {
			filter: grayscale(1);
		}
	}
}

.copyright {
	width: 100%;
	margin: 10px 0;
	text-align: right;

	a {
		color: inherit;
	}
}

.coloured_letters {
	@include mixins.theme_coloured_letters;
}

@media (min-width: 40em) {
	.footer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		h2 {
			margin-top: 0;
		}

		> * {
			margin-right: 20px;
			margin-left: 20px;
		}
	}

	.nav {
		margin: 0;
	}
}

@media (min-width: 50em) {
	.footer {
		padding: 40px 50px;

		> * {
			margin-right: 0;
			margin-left: 0;
		}
	}

	.nav {
		&:not(.legal):not(.icons) {
			max-width: calc(100% - 500px);

			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin-top: 0;
			}
		}

		&.icons {
			flex: 0 0 auto;

			ul {
				flex-direction: row;
				margin-right: auto;
			}
		}
	}

	.logo {
		font-size: 0.9em;

		svg {
			height: 1.8em;
		}
	}

	.copyright {
		margin-top: 50px;
	}
}

@media (min-width: 60em) {
	.footer {
		padding: 40px 5vw;
	}

	.nav {
		&.icons {
			flex-grow: 1;
			min-width: 200px;
		}
	}
}

$max_width: 1100px * math.div(10, 9);

@media(min-width: $max_width) {
	.footer {
		padding: 70px calc(45vw - 550px + 5vw);
	}
}
