.header {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	background: var.$white;
	box-shadow: 0 1px 3px rgba(var.$neutral, 0.15),
		0 0 8px rgba(var.$neutral, 0.1);
	font-family: var.$font_main;
}

.coloured_letters {
	@include mixins.coloured_letters;
}

.nav {
	position: relative;
	z-index: 50;
	align-content: center;

	font-size: 1.4em;
	font-weight: 600;
	text-align: center;

	&:global(.open) {
		ul {
			display: block;
		}
	}

	ul {
		display: none;
		position: absolute;
		z-index: 150;
		top: 100%;
		right: 0;
		width: 50vw;
		max-width: 400px;
		max-height: calc(100vh - 150px);
		margin: 0;
		overflow-y: auto;
		border-radius: 12px;
		background: var.$white;
		box-shadow: 0 1px 3px rgba(var.$neutral, 0.15),
			0 0 8px rgba(var.$neutral, 0.1);
	}

	a {
		padding: 0.6em;

		.label {
			position: static;
			margin-left: 1ch;
		}
	}

	li {
		text-decoration:none;

		&.current_page_item {
			font-weight: 700;
			text-decoration:none;
		}

		&.cta{
			background-color:var.$blue;
			color: var.$white;
		}
	}
}

.logo {
	display: flex;
	align-items: center;
	width: auto;
	height: 3em;
	margin: 0;
	font-size: 1em;
	text-decoration: none;

	img,
	svg {
		display: flex;
		width: auto;
		max-width: 100%;
		max-height: 100%;
	}

	&:hover {
		outline: 3px solid var.$red;

		* {
			filter: grayscale(1);
		}
	}
}

.site_name {
	margin-left: 1ch;
	color: var.$neutral;
	font-family: var.$font_headings;
	font-weight: 600;
	text-decoration: none;
}

.hamburger {
	display: block;
	align-items: center;
	margin: 0;
	padding: 10px 15px;
	border: 2px solid;
	border-radius: 3px;
	border-color: var.$black;
	background: none;
	color:var.$black;
	text-transform: none;

	svg {
		width: auto;
		height: 12px;
		margin-right: 6px;
	}

	ul{
		width: 50vw;
	}

	&:hover {
		background-color: var.$blue;
		color: var.$white;
	}
}

@media (min-width: 50em) {
	.header {
		padding: 20px 50px;
		color: var.$grey_dark;
	}

	.logo {
		flex-shrink: 0;
		margin: 0;

		svg {
			font-size: 4em;
		}
	}

	.site_name {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
	}

	.nav {
		flex-grow: 1;
		font-size: 0.938em;
		font-weight: 500;

		&:global(.open) {
			ul {
				display: flex;
			}
		}

		ul {
			display: flex;
			position: static;
			align-items: center;
			width: auto;
			max-width: unset;
			margin-right: 0;
			overflow: visible;
			background: none;
			box-shadow: none;
		}

		a {
			padding: 0.5em;
			text-decoration: none;

			.label {
				position: absolute;
			}
		}

		li {
			margin-left: 10px;
			border-bottom: 2px solid transparent;

			a {
				&:hover {
					text-decoration: underline;
				}
			}

			&.current_page_item {
				border-color: var.$red;
				background: transparent;
				text-decoration: none;
			}

			&.cta {
				margin-left: auto;
				background: none;
				color: var.$grey_dark;
				font-weight: 700;

				a {
					padding: 10px calc(1em + 20px) 10px 15px;

					border: 2px solid var.$black;
					border-radius: 3px;

					background-image: url('./src/img/edit_black.png');
					background-repeat: no-repeat;
					background-position: calc(100% - 10px) center;
					background-size: 1em auto;

					&:hover {
						border-color: var.$blue;
						background-color: var.$blue;
						background-image: url('./src/img/edit_white.png');
						color: var.$white;
						text-decoration: none;
					}
				}
			}
		}
	}

	.hamburger {
		display: none;
	}
}

@media (min-width: 60em) {
	.header {
		padding: 40px 5vw;
	}

	.nav {
		margin-left: 50px;
	}
}

$max_width: 1100px * math.div(10, 9);

@media(min-width: $max_width) {
	.header {
		padding: 40px calc(45vw - 550px + 5vw);
	}
}
