.header-module__header___tp5WC {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(204, 204, 204, 0.15), 0 0 8px rgba(204, 204, 204, 0.1);
  font-family: "Inter", sans-serif;
}
.header-module__header___tp5WC nav {
  position: relative;
  z-index: 50;
  align-content: center;
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
}
.header-module__header___tp5WC nav.header-module__open___WX4S3 ul {
  display: block;
}
.header-module__header___tp5WC nav ul {
  display: none;
  position: absolute;
  z-index: 150;
  top: 100%;
  right: 0;
  width: 50vw;
  max-width: 400px;
  max-height: calc(100vh - 150px);
  margin: 0;
  overflow-y: auto;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(204, 204, 204, 0.15), 0 0 8px rgba(204, 204, 204, 0.1);
}
.header-module__header___tp5WC nav a {
  padding: 0.6em;
}
.header-module__header___tp5WC nav a .header-module__label___zyQwq {
  position: static;
  margin-left: 1ch;
}
.header-module__header___tp5WC nav li {
  text-decoration: none;
}
.header-module__header___tp5WC nav li.header-module__current_page_item___-ZHBU {
  font-weight: 700;
  text-decoration: none;
}
.header-module__header___tp5WC nav li.header-module__cta___8oraA {
  background-color: #194c9a;
  color: #ffffff;
}

.header-module__logo___lYPJJ {
  display: flex;
  align-items: center;
  width: auto;
  height: 3em;
  margin: 0;
  font-size: 1em;
  text-decoration: none;
}
.header-module__logo___lYPJJ img,
.header-module__logo___lYPJJ svg {
  display: flex;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
.header-module__logo___lYPJJ:hover {
  outline: 3px solid #c43b3e;
}
.header-module__logo___lYPJJ:hover * {
  filter: grayscale(1);
}

.header-module__site-name___0AFXg {
  margin-left: 1ch;
  color: #111111;
  font-family: "Swiss 721 BT", "Inter", sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.header-module__hamburger___y6ksB {
  display: block;
  align-items: center;
  margin: 0;
  padding: 10px 15px;
  border: 2px solid;
  border-radius: 3px;
  border-color: #111111;
  background: none;
  color: #111111;
  text-transform: none;
}
.header-module__hamburger___y6ksB svg {
  width: auto;
  height: 12px;
  margin-right: 6px;
}
.header-module__hamburger___y6ksB ul {
  width: 50vw;
}
.header-module__hamburger___y6ksB:hover {
  background-color: #194c9a;
  color: #ffffff;
}

@media (min-width: 50em) {
  .header-module__header___tp5WC {
    padding: 20px 50px;
    color: #333333;
  }
  .header-module__header___tp5WC .header-module__logo___lYPJJ {
    flex-shrink: 0;
    margin: 0;
  }
  .header-module__header___tp5WC .header-module__logo___lYPJJ svg {
    font-size: 4em;
  }
  .header-module__header___tp5WC .header-module__logo___lYPJJ .header-module__site-name___0AFXg {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  .header-module__header___tp5WC nav {
    flex-grow: 1;
    font-size: 0.938em;
    font-weight: 500;
  }
  .header-module__header___tp5WC nav.header-module__open___WX4S3 ul {
    display: flex;
  }
  .header-module__header___tp5WC nav ul {
    display: flex;
    position: static;
    align-items: center;
    width: auto;
    max-width: unset;
    margin-right: 0;
    overflow: visible;
    background: none;
    box-shadow: none;
  }
  .header-module__header___tp5WC nav a {
    padding: 0.5em;
    text-decoration: none;
  }
  .header-module__header___tp5WC nav a .header-module__label___zyQwq {
    position: absolute;
  }
  .header-module__header___tp5WC nav li {
    margin-left: 10px;
    border-bottom: 2px solid transparent;
  }
  .header-module__header___tp5WC nav li a:hover {
    text-decoration: underline;
  }
  .header-module__header___tp5WC nav li.header-module__current_page_item___-ZHBU {
    border-color: #c43b3e;
    background: transparent;
    text-decoration: none;
  }
  .header-module__header___tp5WC nav li.header-module__cta___8oraA {
    margin-left: auto;
    background: none;
    color: #333333;
    font-weight: 700;
  }
  .header-module__header___tp5WC nav li.header-module__cta___8oraA a {
    padding: 10px calc(1em + 20px) 10px 15px;
    border: 2px solid #111111;
    border-radius: 3px;
    background-image: url("./src/img/edit_black.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 1em auto;
  }
  .header-module__header___tp5WC nav li.header-module__cta___8oraA a:hover {
    border-color: #194c9a;
    background-color: #194c9a;
    background-image: url("./src/img/edit_white.png");
    color: #ffffff;
    text-decoration: none;
  }

  .header-module__hamburger___y6ksB {
    display: none;
  }
}
@media (min-width: 60em) {
  .header-module__header___tp5WC {
    padding: 40px 5vw;
  }
  .header-module__header___tp5WC nav {
    margin-left: 50px;
  }
}
@media (min-width: 1222.2222222222px) {
  .header-module__header___tp5WC {
    padding: 40px calc(45vw - 550px + 5vw);
  }
}