@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url('./src/fonts/Inter-Regular.woff2') format('woff2'),
		url('./src/fonts/Inter-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 400;
	font-display: swap;
	src: url('./src/fonts/Inter-Italic.woff2') format('woff2'),
		url('./src/fonts/Inter-Italic.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 500;
	font-display: swap;
	src: url('./src/fonts/Inter-Medium.woff2') format('woff2'),
		url('./src/fonts/Inter-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 500;
	font-display: swap;
	src: url('./src/fonts/Inter-MediumItalic.woff2') format('woff2'),
		url('./src/fonts/Inter-MediumItalic.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 600;
	font-display: swap;
	src: url('./src/fonts/Inter-SemiBold.woff2') format('woff2'),
		url('./src/fonts/Inter-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 600;
	font-display: swap;
	src: url('./src/fonts/Inter-SemiBoldItalic.woff2') format('woff2'),
		url('./src/fonts/Inter-SemiBoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 700;
	font-display: swap;
	src: url('./src/fonts/Inter-Bold.woff2') format('woff2'),
		url('./src/fonts/Inter-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 700;
	font-display: swap;
	src: url('./src/fonts/Inter-BoldItalic.woff2') format('woff2'),
		url('./src/fonts/Inter-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 800;
	font-display: swap;
	src: url('./src/fonts/Inter-ExtraBold.woff2') format('woff2'),
		url('./src/fonts/Inter-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style:  italic;
	font-weight: 800;
	font-display: swap;
	src: url('./src/fonts/Inter-ExtraBoldItalic.woff2') format('woff2'),
		url('./src/fonts/Inter-ExtraBoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Inter var';
	font-style: normal;
	font-weight: 100 900;
	src: url('./src/fonts/Inter-roman.var.woff2') format('woff2');
	font-display: swap;
	font-named-instance: 'Regular';
}
@font-face {
	font-family: 'Inter var';
	font-style: italic;
	font-weight: 100 900;
	src: url('./src/fonts/Inter-italic.var.woff2') format('woff2');
	font-display: swap;
	font-named-instance: 'Italic';
}

@font-face {
	font-family: 'Inter var';
	font-style: oblique 0deg 10deg;
	font-weight: 100 900;
	src: url('./src/fonts/Inter.var.woff2') format('woff2');
	font-display: swap;
}

@font-face {
	font-family: 'Swiss 721 BT';
	font-style: normal;
	font-weight: 700;
	src: url('./src/fonts/Swis721_Hv_BT_Heavy.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Font Awesome';
	font-weight: 900;
	font-display: swap;
	src: url('./src/fonts/fa-solid-900.woff2') format('woff2'),
		url('./src/fonts/fa-solid-900.woff') format('woff');
}
