body {
	color: #000000;
	font-family: var.$fonts_main;
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: var.$colours_red;
	text-underline-offset: 0.4em;

	@include mixins.gutenberg_text_colours;

	svg {
		width: auto;
		height: 1em;
		color: inherit;
	}

	&:hover {
		text-decoration: none;
	}
}

p {
	@include mixins.gutenberg_text_colours;
}

h1, h2, h3, h4, h5 {
	color: var.$colours_neutral;
	font-family: var.$fonts_headings;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	&.has-text-color {
		@include mixins.gutenberg_text_colours;

		color: var(--text_colour);
	}
}

h1 {
	font-size: 2em;

	@media(min-width: 50em) {
		font-size: 3em;
	}

	@media(min-width: 60em) {
		font-size: 4em;
	}

	@media(min-width: 80em) {
		font-size: 4.5em;
	}
}

h1, h2 {
	text-align: center;
	text-transform: uppercase;
}

h3, h4, h5 {
	color: var.$colours_red;
	text-transform: uppercase;
}

h2 {
	margin: 1.6em 0;
	font-size: 0.936em;
}

nav {
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	a {
		display: block;
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

address {
	color: inherit;
	font-size: 1.125em;
	font-style: inherit;
	font-weight: inherit;
	line-height: 1.6;

	a {
		color: inherit;
		text-decoration: none;
	}
}

blockquote {
	margin: 1em 0;
	padding: 0;
	font-family: var.$fonts_main;
	font-size: 1.5em;
	font-weight: 700;

	@include mixins.child_reset;

	@media(min-width: 60em) {
		font-size: 2.25em;
	}
}

.btn, button {
	display: inline-block;
	margin: 20px auto;
	padding: 10px 20px;
	border: 2px solid var.$colours_blue;
	border-radius: 8px;
	background: var.$colours_blue;
	color: var.$colours_white;
	font-weight: 600;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: var.$colours_white;
		color: var.$colours_blue;
	}
}

@media(min-width: 60em) {
	h1 {
		font-size: 2.5em;
	}
}

@media(min-width: 80em) {
	h1 {
		font-size: 3em;
	}
}
